@font-face {
  font-family: Turtles;
  font-weight: bold;
  src: url("assets/Turtles.otf") format("opentype");
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Turtles;
}

.mainContainer {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  border: 10px double #1C6EA4;
  border-radius: 10px;
  display: inline-block;
}

.board.game-over {
  opacity: 0.5;
}

.cell {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  background-size: cover;
}

.puyo-red {
  background-image: url(assets/puyoRedO.png);
}

.puyo-green {
  background-image: url(assets/puyoGreenO.png);
}

.puyo-blue {
  background-image: url(assets/puyoBlueO.png);
}

.puyo-yellow {
  background-image: url(assets/puyoYellowO.png);
}

.row {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0;
}

.game-over-text {
  position: absolute;
    font-size: 50px;
    color: red;
    border: 5px solid red;
    bottom: 50vh;
    left: calc(50vw - 130px);
}

/* Styles for buttons */
.game-controls {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.game-controls {
  margin-bottom: 16px;
}

.btn {
  padding: 12px 21px;
  font-size: 15px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .25s ease-in;
}

.btn:hover {
  background-color: #2980b9;
}

.game-controls .btn:first-child {
  margin-right: 5px;
  background-color: purple;
}

.game-controls .btn:last-child {
  background-color: green;
}

.game-info ul li {
  text-align: left;
}

.game-info ul li span {
  color: green;
}